<div class="col s12 m6 l3">
  <div id="<%= memo.id %>" class="card blue lighten-4">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag 'map.jpg' %>
    </div>
    <div class="card-content grey-text text-darken-2">
      <a href="#" class="card-title grey-text text-darken-2"><%= memo.name %></a>
      <p><%= memo.explanation %></p>
    </div>
  </div>
</div>
