<% if @memo_items.any? %>
  <% @memo_items.each_slice(4) do |memos| %>
  <div class="row">
    <%= render partial: 'shared/memo_item', collection: memos, as: :memo %>
  </div>  
  <% end %>
<% end %>
