
@import "materialize";
@import "memos.scss";

body { 
  background-color: #fcfcfc;
} 

.btn {
  @extend .blue, .darken-3;
}


input[type=text] {
  &:focus {
    border-bottom: 1px solid #1565c0 !important;
    box-shadow: 0 1px 0 0 #1565c0 !important;
  }
  &:focus + label {
    color: #1565c0 !important;
  }
}
