#map_for_search{

  .btn {
    @extend .blue, .darken-3;
  }

  .map_control {
    margin-top: 5px;
    margin-left: 5px;
  }

  #place_input {
    background-color: white;
    width: 50%;
    height: 40px;

    &:focus {
      border-bottom: 1px solid #1565c0;
      box-shadow: 0 1px 0 0 #1565c0;
    }
  }

}


