<% provide(:title, 'Create Memo') %>

<div class="row">
  <div id="contents" class="col s12 m6 l6">
    <%= render 'form', path: memos_path, method: :post %>
  </div>

  <div id="map_for_search" class="col s12 m6 l6">
    <div id="map_canvas" style="width:100%;height:500px;"></div>
  </div>
</div>

<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
<%= javascript_include_tag 'memos' %>
